if signType == 'in'
  if step == 'first'
    - var phoneNumber = ''
    - var passwordClass = ''
    - var passwordInputType = 'text'
    - var passwordVal = ''
    - var buttonStatus = ''
  else if step == 'second'
    - var phoneNumber = '45 567 6758'
    - var passwordClass = 'hide-password'
    - var passwordInputType = 'password'
    - var passwordVal = '45Abra90'
    - var buttonStatus = 'active'
  else if step == 'third'
    - var phoneNumber = '45 567 6758'
    - var passwordClass = ''
    - var passwordInputType = 'text'
    - var passwordVal = '45Abra90'
    - var buttonStatus = 'active'
  else if step == 'fourth'
    - var phoneNumber = '45 567'
    - var passwordClass = ''
    - var passwordInputType = 'text'
    - var passwordVal = '45Abra90'
    - var buttonStatus = ''
    - var inputError = 'error'
else if signType == 'up'
  if step == 'first'
    - var phoneNumber = ''
    - var buttonStatus = ''
  else if step == 'second'
    - var phoneNumber = '45 567 6758'
    - var buttonStatus = 'active'
  else if step == 'third'
    - var phoneNumber = '45 567 675867'
    - var buttonStatus = ''
    - var inputError = 'error'
    - var phoneErrorMessage = 'Enter correct phone number'
  else if step == 'fourth'
    - var phoneNumber = '45 567 6758'
    - var buttonStatus = ''
    - var inputError = 'error'
    - var phoneErrorMessage = 'This phone number already in use or blocked'
else if signType == 'forgot'
  if step == 'first'
    - var phoneNumber = ''
    - var buttonStatus = ''
    - var emailVal = ''
  else if step == 'second'
    - var phoneNumber = '45 567 6758'
    - var buttonStatus = 'active'
    - var emailVal = 'sarahconer@gmail.com'
  else if step == 'third'
    - var phoneNumber = '45 567 6758'
    - var buttonStatus = ''
    - var emailVal = 'sarahconer@gmail.com'
    - var inputError = 'error'
else if signType == 'digital-code'
  if step == 'first'
    - var code1 = ''
    - var code2 = ''
    - var code3 = ''
    - var code4 = ''
    - var digitalError = ''
    - var digitalErrorMsg = 'You have entered wrong code, try again'
    - var buttonStatus = ''
  else if step == 'second'
    - var code1 = '4'
    - var code2 = '5'
    - var code3 = '6'
    - var code4 = '7'
    - var digitalError = ' error'
    - var digitalErrorMsg = 'You have entered wrong code, try again'
    - var buttonStatus = ''
  else if step == 'third'
    - var code1 = '4'
    - var code2 = '5'
    - var code3 = '6'
    - var code4 = '7'
    - var digitalError = ' error'
    - var digitalErrorMsg = 'You have used all attempts to register. Try again after a while'
    - var buttonStatus = ''
  else if step == 'fourth'
    - var code1 = '4'
    - var code2 = '5'
    - var code3 = '6'
    - var code4 = '7'
    - var digitalError = ''
    - var digitalErrorMsg = 'You have used all attempts to register. Try again after a while'
    - var buttonStatus = 'active'
else if signType == 'reg'
  if step == 'first'
    - var regName = ''
    - var regPassword = ''
    - var regLastName = ''
    - var regEmail = ''
    - var buttonStatus = ''
    - var inputError = ''
  if step == 'second'
    - var regName = 'Sarah'
    - var regPassword = '12345678'
    - var regLastName = 'Corner'
    - var regEmail = 'sarahconer@gmail.com'
    - var buttonStatus = 'active'
    - var inputError = ''
  if step == 'third'
    - var regName = ''
    - var regPassword = ''
    - var regLastName = ''
    - var regEmail = ''
    - var buttonStatus = ''
    - var inputError = 'error'



if signType == 'in'
  form.sign-form.sign-control-wr__form(action="/")
    //- Inputs block
    .sign-form__inputs
      //- Input
      div(class="input-group sign-form__input " + inputError)
        label(for="signinPhone") Phone number
        .input-group__input-wr.phone
          input#signinPhone.phone-input(type="text", inputmode="tel", placeholder="Enter your phone number", value= `${phoneNumber}`, required)
          .input-group__phone-code.phone-code
            .phone-code__current
              .phone-code__current-flag
                include ../../../assets/images/svg/flags/israel-flag.svg
              span.phone-code__current-code +972
              .phone-code__current-arrow
                include ../../../assets/images/svg/arrow-down.svg
        span.input-group__error-msg Enter correct phone number
      //- Input
      div(class="input-group sign-form__input " + inputError)
        label(for="signinPassword") Password
        .input-group__input-wr.password
          div(class="input-group__hide-password " + passwordClass)
            .hide-password__show-icon
              include ../../../assets/images/svg/show-password.svg
            .hide-password__hide-icon
              include ../../../assets/images/svg/hide-password.svg
          input#signinPassword(type=passwordInputType, placeholder="Enter your password", value=passwordVal, required)
        span.input-group__error-msg Wrong password

      //- Remeber? and forgot password
      .sign-form__options
        //- Check
        .df-inline-check
          .df-inline-check__check-wr
            input#signinRemember(type="checkbox", name="signinRemember", checked)
            .df-inline-check__custom-check
              include ../../../assets/images/svg/check.svg
          label(for="signinRemember") Remember
        //- End check

        a.sign-form__forgot(href="/") Forgot your password?
      
    //- End inputs block
    button(class="btn btn__type_first sign-form__btn " + buttonStatus) SIGN IN
else if signType == 'forgot'
  form.sign-form.sign-control-wr__form.sign-form__type_forgot.sign-control-wr__form-forgot(action="/")
    //- Inputs block
    .sign-form__inputs
      //- Input
      div(class="input-group sign-form__input " + inputError)
        label(for="forgotPhone") Phone number
        .input-group__input-wr.phone
          input#forgotPhone.phone-input(type="text", inputmode="tel", placeholder="Enter your phone number", value= `${phoneNumber}`, required)
          .input-group__phone-code.phone-code
            .phone-code__current
              .phone-code__current-flag
                include ../../../assets/images/svg/flags/israel-flag.svg
              span.phone-code__current-code +972
              .phone-code__current-arrow
                include ../../../assets/images/svg/arrow-down.svg
        span.input-group__error-msg Your phone number does not match
      //- Input
      div(class="input-group sign-form__input " + inputError)
        label(for="forgotEmail") Email
        .input-group__input-wr
          input#forgotEmail(type='text', placeholder="Enter your emqil", inputmode="email", value=emailVal, required)
        span.input-group__error-msg Your password does not match
      
    //- End inputs block
    button(class="btn btn__type_first sign-form__btn " + buttonStatus) SEND
else if signType == 'up'
  form.sign-form.sign-control-wr__form.sign-control-wr__form-signup(action="/")
    //- Inputs block
    .sign-form__inputs
      p.sign-form__sign-instruction Enter your phone number to verify your account.
      //- Input
      div(class="input-group sign-form__input sign-form__input-regphone " + inputError)
        label(for="signupPhone") Phone number
        .input-group__input-wr.phone
          input#signupPhone.phone-input(type="text", inputmode="tel", placeholder="Enter your phone number", value= `${phoneNumber}`, required)
          .input-group__phone-code.phone-code
            .phone-code__current
              .phone-code__current-flag
                include ../../../assets/images/svg/flags/israel-flag.svg
              span.phone-code__current-code +972
              .phone-code__current-arrow
                include ../../../assets/images/svg/arrow-down.svg
        span.input-group__error-msg= phoneErrorMessage
      
    //- End inputs block
    button(class="btn btn__type_first sign-form__btn " + buttonStatus) SIGN UP
else if signType == 'digital-code'
  .digital-code.sign-control-wr__digital-code
    p.digital-code__desc Enter the 4 digit code sent to your mobile<br> number <span>+972 45 567 6758</span>
    div(class="digital-code__code" + digitalError)
      div(class="input-group input-group__code" + digitalError)
        input.phone-input(type="text", inputmode="numeric", pattern="\d*", maxlength='1', value=`${code1}`, required)
      div(class="input-group input-group__code" + digitalError)
        input.phone-input(type="text", inputmode="numeric", pattern="\d*", maxlength='1', value=`${code2}`,required)
      div(class="input-group input-group__code" + digitalError)
        input.phone-input(type="text", inputmode="numeric", pattern="\d*", maxlength='1', value=`${code3}`,required)
      div(class="input-group input-group__code" + digitalError)
        input.phone-input(type="text", inputmode="numeric", pattern="\d*", maxlength='1', value=`${code4}`,required)
      //- Error message
      p.digital-code__error-msg= digitalErrorMsg
    p.digital-code__resend You did not receive a code?
      a.digital-code__resend-link(href='/')  Resend

    //- End inputs block
    button(class="btn btn__type_first sign-form__btn " + buttonStatus) CONTINUE
else if signType == 'reg'
  form.sign-form.sign-control-wr__form.sign-control-wr__form-reg.sign-form__reg-type(action="/")
    //- Inputs block
    .sign-form__inputs
      //- Input
      div(class="input-group sign-form__input " + inputError)
        label(for="regName") First name
        .input-group__input-wr
          input#regName.phone-input(type="text", placeholder="Enter your first name", value= `${regName}`, required)
        span.input-group__error-msg Field can not be empty
      //- Input
      div(class="input-group sign-form__input " + inputError)
        label(for="regLastName") Last name
        .input-group__input-wr
          input#regLastName.phone-input(type="text", placeholder="Enter your last name", value=regLastName, required)
        span.input-group__error-msg Field can not be empty
      //- Input
      div(class="input-group sign-form__input " + inputError)
        label(for="regEmail") Email
        .input-group__input-wr
          input#regEmail.phone-input(type="text", placeholder="Enter your email", value=regEmail, required)
        span.input-group__error-msg Enter correct email
      //- Input
      div(class="input-group sign-form__input " + inputError)
        label(for="regPassword") Password
        .input-group__input-wr.password
          div(class="input-group__hide-password " + passwordClass)
            .hide-password__show-icon
              include ../../../assets/images/svg/show-password.svg
            .hide-password__hide-icon
              include ../../../assets/images/svg/hide-password.svg
          input#regPassword(type=passwordInputType, placeholder="Enter your password", value=regPassword, required)
        span.input-group__error-msg Password can not be shorter then 8 characters

      //- Remeber? and forgot password
      .sign-form__options.sign-form__options-reg
        //- Check
        .df-inline-check.sign-form__reg-label
          .df-inline-check__check-wr
            input#signinRemember(type="checkbox", name="signinRemember", checked)
            .df-inline-check__custom-check
              include ../../../assets/images/svg/check.svg
          label(for="signinRemember") I agree to Treedset’s <a href="/">Terms of Service</a><br> and  <a href="/">Privacy Policy</a>
        //- End check
      
      //- End inputs block
      button(class="btn btn__type_first sign-form__btn " + buttonStatus) SIGN IN